<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <meta http - equiv="X-UA-Compatible" content="ie=edge">

  <title>007计算器</title>

  <script src="./vue.js">

  </script>

</head>
<template>
</template>

<body>

  <div id='app'>
    <input type="text" v-model="n1">
    <select v-model="opt">
      <option value="+">+</option>
      <option value="-">-</option>
      <option value="*">*</option>
      <option value="/">/</option>
    </select>
    <input type="text" v-model="n2">
    <input type="button" value="=" @click="calc">
    <input type="text" v-model="res">
  </div>
  <script>
    var vm = new Vue({

      el: '#app',

      data: {
        n1: 0,
        n2: 0,
        res: 0,
        opt: '+'
      },
      methods: {
        // 计算
        calc() {
          // switch(this.opt){
          // case '+':
          // this.res = Number(this.n1) + Number(this.n2)
          // break
          // case '-':
          // this.res = Number(this.n1) - Number(this.n2)
          // break
          // case '*':
          // this.res = Number(this.n1) * Number(this.n2)
          // break
          // case '/':
          // this.res = Number(this.n1) / Number(this.n2)
          // break
          // }
          // 投机取巧一下（正是开发尽量少用）
          this.res = eval('Number(this.n1)' + this.opt + 'Number(this.n2)')
        }
      },
      components: {

      }
    })

  </script>

  <style>


  </style>
</body>


</html>
